/* 
===============
FONTS 
===============
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Marck+Script");

/* 
================
Variables 
================
*/

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
:root {
  --clr-primary: #ebc012d0;
  --clr-primary-dark: #3a4d06;
  --clr-grey-1: #102a42;
  --clr-grey-5: #797676;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-black: black;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Marck Script", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  /* color: var(--clr-grey-10); */
  line-height: 1.5;
  font-size: 0.875;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
/* 
============== 
Navbar
============== 
*/
header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/pexels-ave-calvar-martinez-4705120.jpg) center/cover no-repeat
      fixed;
  position: relative;
  /* resenje za belo polje? */
  top: -30px;
  /* animation */
}
.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}
.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* animation */
}
.banner-btn {
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
  outline: 0.125rem solid var(--clr-primary);
}
.btn {
  text-transform: uppercase;
  text-shadow: 2px 2px 4px var(--clr-primary-dark);
  color: var(--clr-white);
  background: var(--clr-primary);
  padding: 0.75rem 1rem;
  letter-spacing: var(--spacing);
  display: inline;
  font-weight: 800;
  transition: var(--transition);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-white);
  text-shadow: 2px 2px 4px var(--clr-white);
}
.line {
  /* zakrpa donjeg belog polja naredne 2 linije */
  position: relative;
  top: -30px;
  height: 7px;
  border: 0;
  background: linear-gradient(
    to right,
    var(--clr-primary-dark),
    var(--clr-primary),
    var(--clr-white)
  );
}

.allOffer {
  width: 100%;
  height: 200px;
  background: var(--clr-grey-10);
  display: block;
}
.offer {
  padding: 5px;
  width: 25%;
  height: 200px;
  float: left;
  text-align: center;
  line-height: 2;
}
.offer:hover {
  background: var(--clr-white);
  border-bottom: 3px solid var(--clr-primary);
}
.offer:hover .fas {
  transform: translateY(-7px);
  transition: var(--transition);
}
.offer-fav {
  color: var(--clr-primary-dark);
  font-size: 2rem;
}
.offer-title {
  font-family: "Marck Script", cursive;
  font-size: 1.5rem;
  color: var(--clr-black);
}
.offer-text {
  color: var(--clr-grey-5);
}
.home {
  width: 100%;
  height: 200px;
  color: var(--clr-primary);
  margin-top: 15px;
}
/* 
============
skills
============
 */
.skills {
  background: var(--clr-grey-10);
}
.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}
.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  transition: var(--transition);
  display: inline-block;
  color: var(--clr-primary);
}
.skill-title {
  color: red;
}
.skill-text {
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin: 0 auto;
}
.skill:hover {
  background: var(--clr-white);
  box-shadow: 0 2px var(--clr-primary);
}
.skill:hover .skill-icon {
  transform: translateY(-5px);
}
@media screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .skill {
    float: left;
    width: 25%;
  }
}
/* -------About sekcija----- */
.about-img,
.about-info {
  padding: 3rem;
}
.about-picture-container {
  background: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary);
  max-width: 30rem;
  overflow: hidden;
}
.about-picture {
  transition: var(--transition);
}
.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}
.about-text {
  max-width: 26rem;
  color: var(--clr-grey-5);
}
.section-header {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}
.section-header2 {
  font-family: var(--ff-primary);
}
@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
  .about-info {
    padding-left: 2rem;
  }
}

/* -----End of about------- */
/* Djordjev hamburger menu */
/* osnovna pozicija dugmeta */
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
}
/* ankeri u otvorenom meniju */
#menuToggle a {
  text-decoration: none;
  color: var(--clr-white);
  transition: color 0.3s ease;
}
/* bojenje ankera na hover */
#menuToggle a:hover {
  color: var(--clr-primary);
}
/* ovo je checkbox koji pozicioniramo na crtice i sakrivamo */
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /*sakrivamo ga*/
  z-index: 2; /*stavljamo preko hamburgera*/
}
/* odavde gde se pominje span misli se na crtice tj hamburger stilizuje se i animira sve sta se desava na klik */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--clr-primary);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
/* ovde cemo koristiti pseudo selektore da ciljamo na ove 3 crtice hamburger menija */
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* transformacija crtica u X kada kliknemo na dugme */
/* prva crta */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--clr-primary);
}
/* druga crta */
/* nestajanje srednje crtice */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  /* druga opcija */
  /* opacity: 1; 
       transform: translateX(-500px); */
}
/* treca crta  */
/* rotacija trece crtice da bude X */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/* otvoreni menu */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  /* ovo je pozadina otvorenog menija uzeo sam boju sa slike logoa kolor pikerom*/
  background: #20201e;
  list-style-type: none;
  /* animacija pojavljivanja polako krece pa ubrza */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
/* nav {
  background: pink;
  position: relative;
} */
/* end of nav menu */
